.naav
{
    width:100%;
    height:150px ;
    display: grid;
    grid-template-columns:20% 60% 20%;
}
.pll
{
    
    margin-top: 20px;
  width:190px;
}
.log
{

  text-align: center;
}

.log2
{
    text-align: center;
}

.log3
{
    text-align: center;
}
.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 25px;
    margin-left: 30px;
  
  }
  .nav-menu {
    list-style: none;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    width: 30vw;
    display: grid;

    text-align: center;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 20%;
    margin-top: 25px;
  }
  .nav-menuu {
    list-style: none;
    grid-template-columns: repeat(3,auto);
  
    display: grid;
   width: 150px;
   margin:50px 0 0 20px;
  }
  .fa-discord
  {
      font-size: 30px;
      color: #5865f2;
      text-decoration: none;
  }
  .fa-twitter
  {
      font-size: 30px;
      color: #ffffff;
      text-decoration: none;
  }
 
  @media screen and (max-width: 1273px) {

    .NavbarItems {
      position: fixed;
    }
    .navbar-logo {
   
      margin-top: 1px;
    
  
    }
    .nav-link {
      color: black;
      
    }
    .NavbarItems {
  height: 80px;
    }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 300px;
      position:absolute;
      top: 90px;
      left: -100%;
      margin: 0;
      
      opacity: 1;
      transition: all 0.5s ease;
    }
    .nav-menu.active {
      background: transparent;
      left: 0;
      background-color: #fff;
      width:   100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    .nav-link:hover {
      background-color: #4ad9e4;
      border-radius: 0;
    }
    .navbar-logo {
      top: 0;
      left: 0;
      position: absolute;
      transform: translate(25%, 50%);
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      text-align: center;
    }
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
    .fa-bars{
      color: #fff;
      font-size: 2rem;
    }
    .nav-link-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #4ad9e4;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
    }
    .nav-link-mobile:hover {
      background: #fff;
      color: #6566f4;
      transition: 250ms;
    }
    button {
      display: none;
    }
  }